.aboutUs {
  color: var(--base-blue);
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

/* 内容容器样式 */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  // display: flex;
  // flex-direction: column;
}

/* 顶部内容样式 */
.contentTop {
  height: 20%;
  display: flex;
  align-items: start;
  text-align: left;
}

/* 顶部标题样式 */
.contentTopTitle {
  font-size: 2.2vw;
  font-weight: bold;
  color: var(--base-blue);
  margin: 0;
}

/* 年份容器样式 */
.timeLineContainer {
  height: 80%;
  //background: #00d1a4;
  position: relative;
}
.years {
  //background: #e71a1a;
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  width: 100%;
  padding: 1vw 0; /* 使用 vh 单位调整上下内边距 */
}

.yearBox {
  //background: #60d317;
  width: 40rem; /* 最大宽度为 400px */
  display: flex;
  justify-content: space-between; /* 空间均匀分布 */
  align-items: center;
  max-width: 40%; /* 确保 .yearBox 占满宽度 */
  box-sizing: border-box; /* 包括 padding 和 border 在内 */
}

.currentYear {
  //font-size: 28px;
  //font-weight: bold;
  border: 1px solid var(--base-blue);
  padding: 0.2vw 1.2vw;
  border-radius: 0.6vw;
}

.ruleBox {
  height: 60px;
  max-height: 4vw;
  width: 100%;
  display: flex;
  //background: #ff0000;
  position: relative; /* 使绝对定位的元素相对于 .ruleBox 进行定位 */
  align-items: center;
  justify-content: center; /* 水平居中对齐 */
}

.rule_cursorTop,
.rule_cursorBottom {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.rule_cursorTop {
  top: 0; /* 顶部对齐 */
  left: 50%; /* 横向居中 */
  transform: translateX(-50%);
  border-width: 1vw 1vw 0 1vw; /* 使用 vw 单位调整箭头的边框宽度 */
  border-color: #1e3a8a transparent transparent transparent; /* 箭头颜色 */
}

.rule_cursorBottom {
  //top: calc(100% + 1vw);
  top: 60px; /* 底部对齐 */
  left: 50%; /* 横向居中 */
  transform: translateX(-50%);
  border-width: 0 1vw 1vw 1vw; /* 使用 vw 单位调整箭头的边框宽度 */
  border-color: transparent transparent #1e3a8a transparent; /* 箭头颜色 */
}
/* 标尺容器样式 */
.rulerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  //overflow-x: scroll;
  width: 100%;
  //height: 8vw; /* 与 canvas 高度一致 */
  height: 40px;
  margin: 0 auto;
  //background-color: #ff0000;
  overflow: scroll; /* 避免滚动条显示 */
  cursor: grab;
  white-space: nowrap; /* 确保水平滚动 */
}

/* 隐藏滚动条 */
.rulerContainer::-webkit-scrollbar {
  display: none;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  //transform:scale(0.7);
}
/* 图像和文本容器样式 */
.imageAndText {
  height: calc(100% - 10vw);
  margin: 4rem 0 0 0;
  //background-color: #ff5722;
  display: flex;
  justify-content: center; /* 水平居中对齐 */
  width: 100%;
  padding: 1rem 0; /* 上下内边距，调整间距 */
}
.imageAndTextBox {
  //width: 500px;
  height: fit-content;
  width: auto;
  max-width: 26%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  //margin: 1.2vw auto;
  padding: 1rem;
  align-items: center;
}

/* 描述文字样式 */
.description {
  margin-top: 10px;
  font-size: 16px;
  color: #333333;
}

.timeline {
  width: 100%;
  height: 80%;
}

.timeline_lineContainer {
  width: 100%;
  height: 11rem;
  position: relative;
  overflow: hidden;
}

.timeline_line {
  display: flex;
  height: 100%;
  cursor: grab;
}

.singleTimeNode {
  display: flex;
  align-items: center;
  height: 6rem;
}

.timeNodeContainer {
  flex-shrink: 0;
  height: 100%;
}

.timeNode {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--base-blue);
  cursor: pointer;
}

.timeNodeSelected {
  .timeNode {
    border: 2px solid #fff;
    transform: scale(1.5);
  }
}

.timeNode_lineSegment {
  flex-shrink: 0;
  width: 4rem;
  height: 1px;
  background-color: var(--base-blue);
}

.timeNodeContentContainer {
  width: 50%;
  height: 60%;
  margin: 5rem auto 0;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.timeNodeContentLine {
  display: flex;
  height: 100%;
}

.sliderContainer {
  width: 100%;
  height: 100%;
}

.timeNodeContent {
  display: flex;
  width: 100%;
  height: 100%;
  // width: 50%;
  // height: 60%;
  // margin: 5rem auto 0;
  // border-radius: 8px;
  // background-color: #fff;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  // overflow: hidden;
}

.timeNodeContentImg {
  width: 50%;
  height: 100%;
}

.timeNodeContentDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 3rem 4rem;
}

/* 适配移动端 */
@media (max-width: 768px) {
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.6);
  }
  .rule_cursorBottom {
    top: calc(100% + 1vw);
  }

  .timeNode {
    width: 3rem;
    height: 3rem;
  }

  .timeNodeSelected {
    .timeNode {
      border-width: 1.5px;
      transform: scale(1.5);
    }
  }

  .timeNode_lineSegment {
    width: 4rem;
  }

  .timeNodeContent {
    margin-top: 2rem;
  }
  //.contentTopText {
  //  max-width: 100%;
  //}
  //
  //.contentTop {
  //  padding: 10% 5%;
  //}
  //
  //.contentNumber {
  //  //flex-direction: column;
  //  text-align: center;
  //}
  //
  //.sustainability {
  //  //flex-direction: column;
  //  padding: 5%;
  //  height: auto;
  //}
  //
  //.sustainabilityLeft {
  //  width: 100%;
  //}
  //
  //.sustainabilityRight {
  //  width: 100%;
  //  padding: 1.5vw 0 0 0;
  //}
  //
  //.bottomBtn {
  //  font-size: 18px;
  //}
  //
  ///* 使用视窗宽度单位调整字体大小 */
  //.responsiveText {
  //  h1, h2, h3, h4, h5, h6, p, span {
  //    font-size: 4vw; /* 根据屏幕宽度自动调整字体大小 */
  //  }
  //}
}
