/* styles/pagesStyles/aboutUsLearnMore.contactUs.module.scss */

.jobsPage {
  padding: 2rem;

  .jobsHeading {
    margin: 3.9rem 0 3rem 0;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    opacity: 0.8;
  }

  .jobsDivider {
    margin-top: 0.2rem;
    border-color: var(--primary-green);
    border-top: 2px solid;
    border-top-color: var(--primary-green);
    margin-bottom: 3rem;
  }

  .card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .cardImage {
      flex: 1;
      margin-right: 2rem;
    }

    .cardContent {
      flex: 2;

      .cardTitle {
        font-weight: 600;
      }

      .cardDescription {
        margin-top: 0.5rem;
      }
    }
  }
}
