.header-container {
  .header-bar {
    color: #ffffff;
    //padding: 10px 40px 10px 40px ;
    padding: 0 2vw;
    background: transparent;
    box-shadow: none;
    //height: 12vw;
    max-height: 13vw;
  }

  .transparent-bg {
    background-color: transparent;
  }

  .blue-bg {
    background-color: var(--base-blue);
  }
}
