.buttonWrapper {
  display: inline-block;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #0070f3;
  background-color: transparent;
  color: #0070f3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; /* 确保过渡效果应用到所有属性 */

  &:disabled {
    background-color: #ccc;
    color: #999;
    border-color: #ccc;
    cursor: not-allowed;
  }

  .iconWrapper {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
